.search-results {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
}

.search-results .search-result {
    cursor: pointer;
    padding: 0 1em;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex: 1;
}

.search-results .search-result h3 {
    font-size: 3em;
    transition: all 0.2s;
    text-align: start;
    color: #124E78;
}

.search-results .search-result h3:hover {
    color: #D74E09;
}

.search-results-empty, .search-results-loading {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.search-results-loading {
    flex-direction: column;
}

.search-results-empty svg {
    font-size: 5em;
}

@media screen and (max-width: 768px) {
    .search-results-empty svg {
        font-size: 3em;
    }

    .search-results .search-result h3 {
        font-size: 1.75em;
    }
}
