.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;
}

.header i {
    cursor: pointer;
}

.header h3 {
    font-weight: 300;
}
